
body{
  background-image: url(../Images/CompletedBackground.png) !important;
  background-repeat: no-repeat !important;
  background-position-y: 120px !important;
  background-color: white !important;
  background-size: 100% auto !important;
}

@media screen and (max-width: 767px) {
    body{
      background-image: none !important;
    }
}