/* .App {
  position: fixed;
  background-Image: url(../Assets/Images/CompletedBackground.png);
  background-repeat: no-repeat;
  min-width: 100%;
  overflow-y: scroll;
  background-size: cover;
  top: 0;
  bottom: 0;
} */

.h2 {
  font-weight: bold;
}

.header {
  background-color: rgb(123, 194, 212);
  grid-area: header;
}

.back {
  grid-area: back;
  text-align: left;
  margin-left: 15%;
}