/* .App {
  position: fixed;
  background-Image: url(../Assets/Images/CompletedBackground.png);
  background-repeat: no-repeat;
  min-width: 100%;
  overflow-y: scroll;
  background-size: cover;
  top: 0;
  bottom: 0;
} */

.h2 {
  font-weight: bold;
}

.header {
  background-color: rgb(123, 194, 212);
  grid-area: header;
}

.back {
  grid-area: back;
  text-align: left;
  margin-left: 15%;
}

.logo {
  /* background-color: teal; */
  grid-area: logo;
  max-width: 100%;
  max-height: 100%;
  margin-left: 15%;
  border: 5px solid blue;
  overflow: hidden;
}

.path {
  /* background-color: azure; */
  grid-area: path;
  text-align: left;
  margin-left: 10px;
}

.clubName {
  /* background-color: pink; */
  grid-area: clubName;
  text-align: left;
  margin-left: 10px;
}

.tags {
  /*background-color: red;*/
  grid-area: tags;
  text-align: left;
  margin: 0 0 10px 10px;
}

.links {
  /* background-color: brown; */
  grid-area: links;
  text-align: left;
  margin: 10px 0 0 15%; 
}

.infos {
  background-color: white;
  grid-area: infos;
  text-align: left;
  margin: 0 0 10px 10px;
}

.description {
  /* background-color: pink; */
  grid-area: description;
  text-align: left;
  margin: 10px 0 10px 10px;
}

.photoHeader {
  /* background-color: aquamarine; */
  grid-area: photoHeader;
  text-align: left;
  margin-left: 15%;
  font-weight: bold;
}

.photos {
  /* background-color: pink; */
  grid-area: photos;
  text-align: left;
  margin: 0 15% 0 15%;
}