.logo-item > img {
  max-width: 100%;
  height: auto;
  /* background-size: cover; */
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}