.photo-item > img {
  height: auto;
  width: auto;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photo-bar {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 30px;
  margin: 10px 0 10px 0;
}