

#top .title-item {
  color: #fff;
  border: 0;
  padding-top: 50px;
}

#top #main .container_wrap_first,
#top #main .av_default_container_wrap {
  padding: 50px 0;
}

#top .title-item .container {
  padding: 0;
}

#top #main .title-item .main-title,
#top #main .title-item .main-title a,
.title-item {
  font-size: 37.5px;
  line-height: normal;
  color: #118e9b;
  margin-bottom: 20px;
}
